<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7165ade8-27fd-4b4e-ae6f-56e94b28f46d/resourcegroups/wardresource/providers/Microsoft.Web/sites/200223057A1</ResourceId>
    <ResourceGroup>wardresource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://200223057a1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>200223057a1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>200223057A1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$200223057A1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VideoGameContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:hsportsward.database.windows.net,1433;Initial Catalog=200223057A1_db;Persist Security Info=False;User ID=bward62@hsportsward;Password=Chatroom123;Connect Timeout=180;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:hsportsward.database.windows.net,1433;Initial Catalog=200223057A1_db;Persist Security Info=False;User ID=bward62@hsportsward;Password=Chatroom123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=180;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="_200223057A1.Models.VideoGameContext, 200223057A1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="VideoGameContext-Web.config Connection String">
      <ParameterValue>Server=tcp:hsportsward.database.windows.net,1433;Initial Catalog=200223057A1_db;Persist Security Info=False;User ID=bward62@hsportsward;Password=Chatroom123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=180;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>